body {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FAF9F6;
    max-width: 85ch;
    padding: 2ch;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

hr {
    border-top: 1px solid #999797;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

a {
    color: #1e56ac;
}